.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50x;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.btns {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px;
}

.btns:hover {
  background-color: #0069d9;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 500px;
  height: 500px;
}

.btns2 {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btns2 a{
  text-decoration: none;
  color: #fff;
}

.btns2:hover {
  background-color: #218838;
}

p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
